@{
    ViewData["Title"] = "Abrir Sobres";
}

<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Album")'>Album</a></li>
            <li><a href='@Url.Action("AbrirSobres")'>Abrir sobres</a></li>
            <li><a href='@Url.Action("Repetidas")'>Repetidas</a></li>
            <li><a href='@Url.Action("Inventario")'>Inventario</a></li>
            <li><a href='@Url.Action("Mercado")'>Mercado</a></li>

        </ul>
        <div class="imagenesNav">
            <ul>
                <button type="button" onclick="GanarMonedasVideos()" class="botonVideos">Ganar Monedas <img src="~/img/Youtu.png"></button>
                <li><a id="lugarMonedas">@ViewBag.Usuario.Monedas <img src="~/img/moneda.png">  </a> </li>
                <li><a href='@Url.Action("InicioSesion")'> <img src="~/img/salir.png"> </a></li>
            </ul>
        </div>
    </nav>
</header>



<link rel="stylesheet" href="~/css/abrirSobres.css">

<div class="Contenido"></div>
<div style="display: flex; justify-content: space-around;margin-top:40px;">

<img src="~/img/SobreP.jpeg" alt="Imagen del sobre" />
<img src="~/img/SobreN.png" alt="Imagen del sobre" />
</div>

<div style="display: flex; justify-content: space-around; margin-top:20px;">
<!-- Button trigger modal -->
<button type="button" onclick="AbrirSobreModal(0, @ViewBag.Usuario.IdUsuario)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Abrir sobre premium
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloModal">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Descripcion: </h2>
        <p id="descripcionModal"></p>
        <h2>Cantidad:</h2>
        <h3 id="candidadModal"></h3>
        <h1>Precio: </h1>
        <h3 id="valorModal"></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="buttonPremium" type="button" data-bs-toggle="modal" data-bs-target="#ModalSobre" onclick="AbrirSobrePremium(@ViewBag.Usuario.IdUsuario)">Comprar</button>
      </div>
    </div>
  </div>
</div>

<!--Abrir sobre normal-->
<!-- Button trigger modal -->
<button type="button" onclick="AbrirSobreModal(1, @ViewBag.Usuario.IdUsuario)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Abrir sobre normal
</button>

<!-- Modal normal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloModal">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Descripcion: </h2>
        <p id="descripcionModal"></p>
        <h2>Cantidad:</h2>
        <h3 id="candidadModal"></h3>
        <h1>Precio: </h1>
        <h3 id="valorModal"></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="buttonNormal" type="button" data-bs-toggle="modal" data-bs-target="#ModalSobre" onclick="AbrirSobreNormal(@ViewBag.Usuario.IdUsuario)">Comprar</button>
      </div>
    </div>
  </div>
</div>

   

<div class="modal fade" tabindex="-1" id="ModalSobre" aria-labelledby="ModalSerieTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="figuritasObtenidas"></div>
        </div>
      </div>
    </div>
</div> 

</div>


@* <script src="~/js/script.js" asp-append-version="true"></script> *@
@* <script src="~/js/script2.js" asp-append-version="true"></script> *@

