@{
    ViewData["Title"] = "Album";
}
<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Album")'>Album</a></li>
            <li><a href='@Url.Action("AbrirSobres")'>Abrir sobres</a></li>
            <li><a href='@Url.Action("Repetidas")'>Repetidas</a></li>
            <li><a href='@Url.Action("Inventario")'>Inventario</a></li>
            <li><a href='@Url.Action("Mercado")'>Mercado</a></li>

        </ul>
        <div class="imagenesNav">
            <ul>
                <button type="button" onclick="GanarMonedasVideos()" class="botonVideos">Ganar Monedas <img src="~/img/Youtu.png"></button>
                <li><a id="lugarMonedas">@ViewBag.Usuario.Monedas <img src="~/img/moneda.png">  </a> </li>
                <li><a href='@Url.Action("InicioSesion")'> <img src="~/img/salir.png"> </a></li>
            </ul>
        </div>
    </nav>
</header>


<link rel="stylesheet" href="~/css/Album.css">


    <div class="container">
        <a href='@Url.Action("Pagina", new {id = ViewBag.Usuario.IdUsuario, equipo = 1})'><img src="~/img/escudos/escDiar.png" alt="diarco"></a>
        <a href='@Url.Action("Pagina", new {id = ViewBag.Usuario.IdUsuario, equipo = 2})'><img src="~/img/escudos/escArg.png" alt="diarco"></a>
        <a href='@Url.Action("Pagina", new {id = ViewBag.Usuario.IdUsuario, equipo = 3})'><img src="~/img/escudos/escEcu.png" alt="diarco"></a>
        <a href='@Url.Action("Pagina", new {id = ViewBag.Usuario.IdUsuario, equipo = 4})'><img src="~/img/escudos/escUru.png" alt="diarco"></a>
        <a href='@Url.Action("Pagina", new {id = ViewBag.Usuario.IdUsuario, equipo = 5})'><img src="~/img/jugadores/Icons.png" alt="diarco"></a>
    </div>
