@{
    ViewData["Title"] = "Inventario";
}
<link rel="stylesheet" href="~/css/inventario.css">
<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Album")'>Album</a></li>
            <li><a href='@Url.Action("AbrirSobres")'>Abrir sobres</a></li>
            <li><a href='@Url.Action("Repetidas")'>Repetidas</a></li>
            <li><a href='@Url.Action("Inventario")'>Inventario</a></li>
            <li><a href="#" id="lugarMonedas">Monedas: @ViewBag.Usuario.Monedas</a> </li>
            <li><a href='@Url.Action("InicioSesion")'>Cerrar sesion</a></li> 
        </ul>
    </nav>
</header>
<div class="Circulo">
  @foreach(var figurita in ViewBag.Figuritas){
    var encontrado = false;
    foreach(var inventario in ViewBag.Inventario){
      if(figurita.IdFigurita == inventario.IdFigurita){
        encontrado = true;
      }
    }
    <div class="@(encontrado ? "Circulo_Gris" : "Circulo_Blanco")" >
      <h1>@figurita.Numero</h1> 
    </div>
  }
</div>
