<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Album")'>Album</a></li>
            <li><a href='@Url.Action("AbrirSobres")'>Abrir sobres</a></li>
            <li><a href='@Url.Action("Repetidas")'>Repetidas</a></li>
            <li><a href='@Url.Action("Inventario")'>Inventario</a></li>
            <li><a href='@Url.Action("Mercado")'>Mercado</a></li>

        </ul>
        <div class="imagenesNav">
            <ul>
                <button type="button" onclick="GanarMonedasVideos()" class="botonVideos">Ganar Monedas <img src="~/img/Youtu.png"></button>
                <li><a id="lugarMonedas">@ViewBag.Usuario.Monedas <img src="~/img/moneda.png">  </a> </li>
                <li><a href='@Url.Action("InicioSesion")'> <img src="~/img/salir.png"> </a></li>
            </ul>
        </div>
    </nav>
</header>

<link rel="stylesheet" href="~/css/Repetidas.css">


@if(ViewBag.Mercado != null && ViewBag.Mercado.Count > 0)
{
    <div class="figuritas">
        @foreach(var item in ViewBag.Mercado)
        {
            <div class="figurita" id="@item.IdFigurita">
               <img src="~/img/Jugadores/@item.ImagenJugador" alt="Imagen de @item.Nombre @item.Apellido" class="img-figurita" />
                <h1>@item.Apellido</h1>
                <button onclick="ComprarFiguPublicada('@item.Precio', '@item.IdFigurita', '@item.IdUsuario')"> precio @item.Precio  </button>
                <h3>Descripcion : @item.Descripcion</h3>
                <h3>Usuario : @item.IdUsuario</h3>
                <h3>Numero figurita: @(item.IdFigurita - 1)</h3>

            </div>
        }
    </div>
}
else
{
    <div class="centered-content">
        <h1>NO HAY JUGADORES DISPONIBLES EN EL MERCADO</h1>
    </div>
}
