
<link rel="stylesheet" href="~/css/pagina.css">


<a href='@Url.Action("Album")'><img src="~/img/flecha.png" alt="Volver al Login" style="vertical-align:middle; width: 200px; height: 200px;"></a>



<div class="figuritas">
  @foreach(var item2 in ViewBag.JugadoresPaises){
    <div class="figurita">
      <div class="cuadrado">
        <h1>@item2.Numero</h1>
        <h2>@item2.Nombre</h2>
        <h2>@item2.Apellido</h2>
      @foreach(var item in ViewBag.InventarioPaises){
        @if(item.IdFigurita == item2.IdFigurita)
        {
          <img src="~/img/Jugadores/@item.ImagenJugador" alt="Imagen de @item.Nombre @item.Apellido" />
        }

      }
    </div>
</div>
    
  }
</div>


