@{
    ViewData["Title"] = "Repetidas";
}

<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Album")'>Album</a></li>
            <li><a href='@Url.Action("AbrirSobres")'>Abrir sobres</a></li>
            <li><a href='@Url.Action("Repetidas")'>Repetidas</a></li>
            <li><a href='@Url.Action("Inventario")'>Inventario</a></li>
            <li><a href='@Url.Action("InicioSesion")'>Cerrar sesion</a></li>
            <li><a href="#" id="lugarMonedas">Monedas: @ViewBag.Usuario.Monedas</a> </li>


        </ul>
    </nav>
</header>
<link rel="stylesheet" href="~/css/Repetidas.css">


<div class="figuritas">
    @foreach(var item in ViewBag.Repetidas){
        <div class="figurita" id="@item.IdFigurita">
            <img src="~/img/Jugadores/@item.ImagenJugador" alt="Imagen de @item.Nombre @item.Apellido" class="img-figurita" />
            <h1>@item.Nombre</h1> 
            <h1>@item.Apellido</h1>
            <button onclick="Vender('@item.IdFigurita','@item.Precio')">vender por @item.Precio</button>
        </div>
    }
</div>

